---
title: Home
description: Adaptive AI Lab
image: /uploads/wailab.jpg
bottom_image: /uploads/uow-campus.jpg
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">
				Adaptive AI LAB
			</h1>
			<p class="subtext editable">
				Real-Time Analytics of Big Data. 
				</p>
			<div class="cta button alt"><a href="software">Software</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">
					Adaptive AI Lab
				</h2>
				<p class="editable">
					We focus on Real-Time Analytics of Big Data. We are the builders of MOA, scikit-multiflow, streamDM, and Apache SAMOA the most popular tools of Machine Learning for Data Streams in the world. 
				</p><p>
					Our work forms part of the wider <a href="https://www.cs.waikato.ac.nz/~ml/">Machine Learning Group</a> and <a href="https://ai.waikato.ac.nz/">Waikato AI Initiative</a>. 
				</p>
			</div>
			<div class="image">
				<img class="editable" alt="Screenshot" src="uploads/moa_book.jpg" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">
					Our goals
				</h2>
				<p class="editable">
						We are leading the "Realtime Analytics of Big Data"
						programme (RABiD) funded through the Tertiary Education Commission (TEC)
						Entrepreneurial Universities grant. Our main goals are:</p>
    			<ul><li>To make deployable machine learning technology available to the wider business and government communities so that they may benefit from the age of AI/Big Data</li>
    			<li>To create scalable sustainable Machine Learning/Artificial Intelligence systems</li>
				</ul>			
			</div>
			<div class="image">
				<img class="editable" alt="MOA" src="uploads/moa-logo.jpg" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">
					How we can work with you
				</h2>
				<p class="editable">
						<p>We offer research, advisory and  consultancy services to a range of end-users, including small and medium-sized companies, industry,  government agencies and departments, iwi and community organisations. We seek collaborative partnerships in New Zealand and internationally with other researchers, the <strong>artificial intelligence</strong> community, the public community, industry, the education sector and all tiers of government. We can work with you across a broad range of areas through: </p>
						<ul><li>Contract research</li><li>Collaborative research programmes</li><li>Consultancy services</li><li>Professional development programmes</li><li>Educational programmes</li><li>Survey design and analysis</li><li>AI monitoring programme development</li><li>Data analysis and interpretation</li></ul>	
				</p>
			</div>
			<div class="image">
				<img class="editable" alt="skmultiflow" src="uploads/skmultiflow-logo.png" />
			</div>
		</div>
	</section>
	<section>
			<div class="text-container">
				<p class="editor-link"><a href="cloudcannon:collections/_posts" class="btn"><strong>&#9998;</strong> Add Post</a></p>
				<ul class="blog-posts">
					{% include list-posts.html posts=paginator.posts %}
				</ul>
		
				{% if paginator.total_pages > 1 %}
					<div class="pagination">
						{% if paginator.previous_page %}
							<a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="previous btn">&larr; Newer posts</a>
						{% endif %}
		
						<span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>
		
						{% if paginator.next_page %}
							<a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="next btn">Older posts &rarr;</a>
						{% endif %}
					</div>
				{% endif %}
			</div>
		</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">
					Open Source Software
				</h2>
				<p class="subtext editable">
					Find the open source tool for machine learning for data streams in the language of your choice: Python, Scala, Java, C++. 
				</p>
				<div class="cta button alt"><a href="software">Software</a></div>
			</div>
		</div>
	</section>
</div>

