---
title: Home
description: WAI Lab
image: /uploads/uow-campus.jpg
bottom_image: 'https://unsplash.it/2000/1322?a=.png'
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">
				Waikato AI LAB
			</h1>
			<p class="subtext editable">
				The WAI Lab undertakes multi-disciplinary artificial intelligence<strong> </strong>research across a range of applications.
				</p>
			<div class="cta button alt"><a href="#">Join Now</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">
					The Waikato AI Lab
				</h2>
				<p class="editable">
					We focus on Real-Time Analytics for Big Data. We are the builders of MOA, scikit-multiflow, streamDM, and Apache SAMOA the most popular tools of Machine Learning for Data Streams in the world
				</p>
			</div>
			<div class="image">
				<img class="editable" alt="Screenshot" src="http://placehold.it/650x1300" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">
					Pick your interests
				</h2>
				<p class="editable">
					The more you tell Frisco the better it gets to know you. Frisco matches you with people who share similar interests with you.
				</p>
			</div>
			<div class="image">
				<img class="editable" alt="Screenshot" src="http://placehold.it/650x1300" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">
					Swipe and go
				</h2>
				<p class="editable">
					Frisco shows you cards with people who might be a good match for friendship. Swipe left to move to the next card or right to start talking.
				</p>
			</div>
			<div class="image">
				<img class="editable" alt="Screenshot" src="http://placehold.it/650x1300" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">
					Find your buddy today
				</h2>
				<p class="subtext editable">
					It's free, fun and an exciting way to meet new people.
				</p>
				<div class="cta button alt"><a href="#">Join Now</a></div>
			</div>
		</div>
	</section>
</div>
